#principal {
    width: 90%;
    margin:auto 80px;
    font-family: tahoma, sans-serif;
    color: #5f5a5a;
}

header {
    width: 100%;
    height: 600px;
    margin-top:80px;  
    background-image: url(../imagens/topo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    
}


#header img {
    width: 100px;
    height: 35px;
    position: absolute;
    left: 250px;
    top: 55px;
    z-index: 1;
}


#menu-header {
    width: 100%;
    height: 50px;
    top:-35px;
    padding-top: 15px;
    background-color: #162028;
    position: relative;
    display: block;
    text-align: right;
    
}

#menu-header li {
    margin-right: 30px;
    padding-left: 15px;
	display: inline-block; /* alinha os itens do li lado a lado*/
    text-transform: uppercase;
    letter-spacing: 2px; /*espaçamento entre letras*/
    
}

#menu-header a { /*formatar todos os ítens linkados dentro da ancora*/
    color: #425564;
    text-decoration-line: none;
    transition: color 1s linear/*tempo para mudança da cor referente ao:hover 1parametro a propriedade que sera alterada no caso a cor, 2º tempo*/

}

#menu-header a:hover { /*altera quando o mouse é passado por cima*/
	color: #fff; /*altera cor letra*/
    text-decoration-line: none; /*inseri sublinhado na palavra / none retira sub e over inseri sub acima */
    font-weight: bold;
}

#article {
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top:50px;
    text-align: center;
}

#article h1 {
    padding:15px;
    font-size: 40px;
    color: #252525;
}

#article p {
    line-height: 2;
}

#gallery {
    width: 90%;
    margin: auto;
}

#gallery article {
    width: 30%;
    margin: 15px;;
    padding: 15px;
    display: inline-block;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4); /*configuração de cada bloco de img sombreamento*/
	transition: all .4s ease-in;

}

#gallery img {
    width: 100%;
    padding: 5px;
    
        
}


#gallery img:hover {
    transform: scale(1.4); /*zoom da img */
}


.gallery-tittle {
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;

}

.gallery-text {
    text-align: center;
}

#about {
    width: 100%;
    height: 500px;
    background-color:#003d52;
    background-image: url(../imagens/bg_detalhe.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    
}

#content {
    width: 70%;
    height: 400px;
    margin-top:100px;
    padding: 80px;
    color: #FFF;
}

#content h2 {
    text-transform: uppercase;
    padding: 05px;
    font-size: 40px;
}

#content p {
    text-align: left;
    margin-top: 10px;
    padding: 20px;
    line-height: 2;
}

.contact address {
    width: 40%;
    margin: auto;
    margin-top:25px;
    margin-bottom: 25px;
    font-size: 30px;
    color: #143f52;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
}

#maps iframe {
    width: 100%;
    height: 500px;
}

#footer {
    width: 100%;
    height: 50px;
    margin-top:20px;
    margin-bottom:10px;
    background-color: #0b171f;
    text-align: center;
    padding: 15px;
    color: #135050;
    font-size: 12px;
    letter-spacing: 3px;
}